*{
    font-family: Equinor, Courier;
}

.nav {
    background-color: #007079;
    padding: 10px;
    margin-bottom: 10px;
}

.nav-link {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.bottombar {
    background-color: #ff1243;
    color: #ffffff;
    text-align: center;
    padding: 1px;
}
